.style{
    font-family: Ubuntu;
    color: #FFFFFF;
font-weight: 200;
font-style: Regular;
font-size: 25px;
/* leading-trim: NONE; */
line-height: 100%;
letter-spacing: 0%;

}
.style span{
    font-family: Ubuntu;
font-weight: 700;
font-style: Bold;
font-size: 26px;
/* leading-trim: NONE; */
line-height: 100%;
letter-spacing: 0%;
color:#FF9304;
}
/* WalletBalance.css */
.expenseContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 30%;
  height: 70%;
  overflow: hidden;
}

.expenseCard {
  width: 100%;
  height: 100%;
  background-color: #9B9B9B;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.addExpensesBtn {
  height: 38px;
  border-radius: 15px;
  width: 35%;
  background-color: #FF4747;
  border: none;
}
